@use "./partials/fonts" as *;
@use "./partials/colors" as *;
@use "./partials/mixins" as *;
@use "./partials/base" as *;

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
}

.about {
  padding: 0rem 1rem;

  @include tablet {
    padding: 0rem 2.25rem;
  }

  @include desktop {
    padding: 0rem 9rem;
  }

  &__title {
    @extend .section-header;

    @include tablet {
      padding-left: 0rem;
    }
  }

  &__wrapper {
    @include tablet {
      padding: 0rem 3.5rem;
    }
  }
  &__image {
    height: auto;
    max-height: 10rem;
    width: 100%;

    @include tablet {
      width: 34.5rem;
      max-height: 21rem;
    }

    @include desktop {
      width: 100%;
      max-height: 27rem;
    }
  }

  &__quote {
    font-weight: 600;
    line-height: 1.375rem;
    font-size: 0.86rem;

    @include tablet {
      line-height: 2rem;
      font-size: 1.36rem;
      margin-bottom: 0.5rem;
    }
  }

  &__quote-body {
    @include tablet {
      margin-bottom: 0.5rem;
    }

    @include desktop {
      width: 42rem;
    }
  }
  &__quoter {
    @extend .about__quote;

    @include tablet {
      margin-top: 8px;
      font-size: 1rem;
    }
  }

  &__sub-header {
    font-weight: $demi;
    color: $darkblack;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-top: 1.5rem;

    @include tablet {
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 2.5rem 0rem 1rem;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;

    @include tablet {
      flex-direction: row;
      margin-bottom: 2rem;
    }

    @include desktop {
      margin-bottom: 3rem;
      gap: 1.5rem;
    }
  }
  &__description {
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: $regular;
    margin: 0rem;

    @include tablet {
      line-height: 1.375rem;
      font-size: 0.875rem;
    }
    @include desktop {
      line-height: 1.45rem;
      width: 26rem;
    }
  }
}

.photo-gallery {
  padding: 0.1rem 1rem 0.5rem;
  background-color: $alabaster;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  @include tablet {
    padding: 0.1rem 2.25rem;
    margin-bottom: 2.25rem;
  }

  @include desktop {
    padding: 0.1rem 9rem;
  }

  &__heading {
    @extend .section-header;
  }

  &__container {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 1.5rem;
    }
  }

  &__item {
    height: auto;
    width: 100%;
    margin-top: 0.5rem;
    filter: grayscale(1);

    @include tablet {
      height: 7.3rem;
      width: 13.563rem;
      margin-top: 0rem;
    }
    @include desktop {
      height: 100%;
      width: 19.5rem;
    }

    &:hover {
      filter: grayscale(0);
    }
  }

  &__item--first {
    @extend .photo-gallery__item;
    margin-top: 0rem;

    @include tablet {
      margin-top: auto;
    }
  }
}

.comments {
  padding: 0.1rem 1rem;
  display: flex;
  flex-direction: column;
  @include tablet {
    padding: 0.1rem 2.25rem;
    margin-bottom: 1.25rem;
  }

  @include desktop {
    padding: 0.1rem 9rem;
  }

  &__heading {
    @extend .section-header;
    margin-top: 0.1rem;
    margin-bottom: 0;
  }
  &__form-container {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    @include tablet {
      justify-content: flex-start;
      gap: 1rem;
    }
    @include desktop {
      margin-left: 13rem;
    }
  }

  &__form {
    padding: 0px 0 0.75rem 0.75rem;

    @include tablet {
      width: fill;
    }

    @include desktop {
      width: unset;
    }
  }
  &__form-title {
    color: $silver;
    font-weight: $demi;
    font-size: 0.625rem;
    margin: 1rem 0rem 0.5rem;
    width: 2.8rem;
    @include tablet {
      font-size: 0.8rem;
    }
  }

  &__form-field {
    width: 92%;
    background-color: $alabaster;
    border-color: $mercury;
    border: solid 0.063rem $mercury;
    border-radius: 0.25rem;
    font-family: avenir;
    padding: 0.5rem;

    @include tablet {
      min-height: 1.5rem;
      padding: 0.7rem;
      width: 83%;
    }

    @include desktop {
      width: 28.875rem;
    }

    &--name {
      @extend .comments__form-field;
    }

    &--comment {
      @extend .comments__form-field;
      height: 6rem;
    }
  }

  &__form-button {
    background-color: $black;
    color: white;
    border-radius: 0.25rem;
    padding: 0rem 5rem;
    margin-top: 1rem;
    height: 2.5rem;
    width: 100%;
    text-align: center;
    font-family: Avenir;
    border: none;

    @include tablet {
      width: 26%;
      position: relative;
      left: 21.4rem;
      padding: unset;
      font-size: 0.9rem;
    }
  }

  &__avatar {
    border-radius: 100%;
    width: 8rem;
    height: 2.188rem;
    background-color: $mercury;
    position: relative;
    top: 0.8rem;

    @include tablet {
      max-width: 3rem;
      max-height: 3rem;
      height: auto;
    }

    &--form {
      @extend .comments__avatar;
      max-width: 2.25rem;
      max-height: 2.25rem;
      top: 2rem;
      object-fit: cover;

      @include tablet {
        max-width: 3rem;
        max-height: 3rem;
        height: auto;
        margin-left: 4rem;
      }
    }
  }

  &__list {
    list-style: none;
    padding-left: 0rem;

    @include tablet {
      margin-left: 4rem;
    }
    @include desktop {
      margin-left: 17rem;
    }
  }

  &__item {
    border-bottom: 0.063rem solid $mercury;
    border-top: 0.063rem solid $mercury;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    @include tablet {
      display: flex;
      gap: 2rem;
      justify-content: flex-start;
      width: 35rem;
    }
  }

  &__subsection {
    font-size: 0.813rem;
    width: 45rem;
    @include tablet {
      width: 30rem;
    }
  }

  &__name-container {
    display: flex;
    justify-content: space-between;
    font-size: 0.813rem;
  }
  &__name {
    font-weight: $demi;
  }
  &__content {
    margin-top: 0rem;
    line-height: 1.125rem;
    word-wrap: break-word;
    word-break: break-word;
  }

  &__timestamp {
    color: $silver;
  }
}
