@use "./partials/fonts" as *;
@use "./partials/colors" as *;
@use "./partials/mixins" as *;

body {
  font-family: $font-stack;
  font-weight: $regular;
  margin: 0rem;
}

.navigation {
  background-color: $black;
  color: $white;
  padding-top: 0.1rem;

  &__logo {
    display: flex;
    font-weight: $regular;
    font-size: 1.8rem;
    height: 1.25rem;
    margin: 0.9rem 1rem;
    padding-bottom: 0.3rem;
    justify-content: space-around;
  }

  &__list {
    list-style: none;
    display: flex;
    padding: 0rem;
    justify-content: space-around;
    margin-bottom: 0px;
  }

  &__list-item {
    color: $white;
    padding: 0.6rem 18vw;
    font-size: 0.875rem;

    &--highlighted {
      border-bottom: 0.3rem solid $white;
    }
  }
}

.anchor-link {
  font-style: normal;
  text-decoration: none;
  color: white;

  &--highlighted {
    @extend .anchor-link;
    font-weight: $demi;
  }
}

.hero {
  position: relative;
  height: 12rem;
  width: 100%;
  background-image: url(../assets/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 82%;

  &::before {
    width: inherit;
    height: inherit;
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    background-color: rgba(50, 50, 50, 0.5);
  }

  &__title {
    padding-left: 1rem;
    margin-top: 0rem;
    position: relative;
    top: 5rem;
    color: $white;
    font-weight: $demi;
    z-index: 3;
  }
}

.about {
  &__title {
  }

  &__image {
    height: 20rem;
  }
}
