@use "../styles/partials/fonts" as *;
@use "../styles/partials/colors" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/base" as *;

.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  height: 25rem;

  &__title {
    overflow-wrap: break-word;
    width: 14rem;
  }

  &__soundcloud {
    position: relative;
    z-index: 5;
    top: 4.5rem;
  }
}
