@use "../styles/partials/fonts" as *;
@use "../styles/partials/colors" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/base" as *;

.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  height: 25rem;

  &__title {
    overflow-wrap: break-word;
    width: 14rem;

    @include tablet {
      width: 36rem;
    }
  }

  &__soundcloud {
    position: relative;
    z-index: 5;
    top: 4.5rem;
  }
}

.shows {
  padding-bottom: 1rem;

  &__title {
    @extend .section-header;
    padding-left: 1rem;
    margin-top: 2rem;

    @include tablet {
      padding: 1rem 3rem;
    }
  }

  &__container {
  }
  &__block {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    border-bottom: 0.063rem solid #e1e1e1;
    border-top: 0.063rem solid #e1e1e1;
    &:hover {
      background-color: $mercury;
    }
    &:first-child {
      border-top: unset;
    }

    @include tablet {
      margin: 0rem 1.25rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-top: unset;
      padding: 1.5rem 1.125rem;

      > * {
        margin-bottom: unset;
      }
    }
  }

  &__header {
    &--mobile {
      color: $silver;
      font-weight: $demi;
      font-size: 0.875rem;
      margin: 1rem 0rem 0.8rem;
    }
  }
  &__data {
    padding-top: 0rem;
    margin-top: 0;

    @include tablet {
      width: 8.2rem;
    }

    &--date {
      font-weight: $demi;
      margin: 0 0 0.5rem;

      @include tablet {
        width: 9rem;
      }
    }
  }

  &__button {
    background-color: #323232;
    color: white;
    padding: 0.8rem 4.8rem;
    border-radius: 0.313rem;
    width: 8.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: $demi;
    margin-bottom: 1rem;

    @include tablet {
      padding: 0.9rem 1.2rem;
      font-size: 1rem;
    }
  }
}
