@use "../styles/partials/fonts" as *;
@use "../styles/partials/colors" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/base" as *;

.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  height: 25rem;

  &__title {
    overflow-wrap: break-word;
    width: 14rem;
  }

  &__soundcloud {
    position: relative;
    z-index: 5;
    top: 4.5rem;
  }
}

.shows {
  padding: 0rem 1rem;
  &__title {
    @extend .section-header;
  }

  &__container {
  }

  &__block {
    border-bottom: 0.063rem solid #e1e1e1;
    border-top: 0.063rem solid #e1e1e1;
    &:hover {
      background-color: $mercury;
    }
  }

  &__header {
    &--mobile {
      color: $silver;
      font-weight: $demi;
      font-size: 0.875rem;
    }
  }
  &__data {
    padding-top: 0rem;

    &--date {
      font-weight: $demi;
    }
  }
}
